.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 13px 17px;
  border-bottom: var(--border);
  height: var(--height-header);
  z-index: 1;

  :first-child {
    justify-self: start;
  }

  :last-child {
    justify-self: end;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .title {
    font-weight: 600;
  }

  .subtitle {
    color: var(--color-gray-7);
    font-size: 12px;
  }
}
