.wrapper {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
}

.right {
  justify-content: flex-end;
}

.userBubble,
.bubble {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  grid-template-areas:
    "message ."
    ". time";

  .message {
    grid-area: message;
  }

  .time {
    grid-area: time;
  }
}

.userBubble {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--color-blue-5);

  .text {
    color: var(--color-white);
  }

  .time {
    color: var(--color-white);
  }
}

.bubble {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--color-gray-1);
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  font-weight: 600;
}

.role,
.time {
  color: var(--color-gray-7);
  font-size: 12px;
}

.time {
  align-self: flex-end;
}
