.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  height: var(--height-footer);
  display: flex;
  align-items: center;
  border-top: var(--border);
}

.sendIcon {
  svg {
    color: var(--color-blue-5);

    transition: all 0.1s ease;

    &:hover {
      color: var(--color-blue);
    }
  }
}

.disabled {
  svg {
    color: var(--color-gray-6);
  }
}

.buttonWithIcon {
  svg {
    color: var(--color-gray-8);

    transition: all 0.1s ease;

    &:hover {
      color: var(--color-blue);
    }
  }
}
